/* Styles for the container */
.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: white;
}

/* Center the title  */
#title {
    text-align: center;
    margin-top: 0;
    color: #ffec00; /* Yellow font color */
}

/* Styles for the headings */
h1, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffec00; /* Yellow font color */
}

/* Styles for the input fields */
.inputfield input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Styles for the submit button */
.submit {
    
    text-align: center;
}

/* Styles for the icons */
.icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

/* Specific icon styles */
.iteminfo .icon {
    fill: #ffec00;
}

/* Background image on body */
body {
    margin: 0;
    padding: 0;
    background-image: url('lostbg1.jpg'); /* Add your background image URL here */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

/* Background image overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: -1; /* Ensure it's behind the content */
}
